@page "/"

<PageTitle>Index</PageTitle>

<h1>Tooly</h1>

<p>
    A collection of small tools I've written majorly for myself
</p>

<p>
    Find me <a target="_blank" href="http://shrayas.com">here</a>
</p>
